{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}批量添加新用户{% endblock %}
{% block body %}

<form id="user-create-multi-form" class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ path('admin_user_create_multi')}}">
    <div class="row form-group">
        <div class="alert">
            csv导入批量添加用户，请先下载此模板，填好数据，模板下载地址：<a href="/files/user/add_user.csv" target="_blank" class="btn btn-info">下载</a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2 control-label">
            <label for="confirmPassword">csv文件</label>
        </div>
        <div class="col-md-7 controls">
            <input type="file" id="uploadcsv" name="uploadcsv" class="form-control" />
        </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>
{% endblock %}

{% block footer %}
  <!--button data-submiting-text="正在提交" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#user-create-multi-form">提交</button-->
  <button data-submiting-text="正在提交" type="submit" class="btn btn-primary pull-right" data-target="#user-create-multi-form">提交</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script type="text/javascript">
       $('*[data-target="#user-create-multi-form"]').on('click', function(){
           var csv = $('#uploadcsv').val();
           if(csv == ''){
               alert('请选择批量添加用户的csv文件！');return;
           }
           $('#user-create-multi-form').submit();
       });
  </script>
{% endblock %}